@import "../common/mixins";
@import "../common/variables";


#footer {
    background-color: $black;
    width: 100%;
    height: 300px;
    color: $white;
    padding-top: 50px;
    padding-bottom: 50px;
}

.footer-container {
    width: 90%;
    display: flex;
    margin: auto;
}
/* Primera columna */

#title-footer {
    width: 30%;
    margin: 20px;
    text-align: center;
}

.aniver-footer {
    width: 300px;
    height: 60px;
}

.subtitle-footer {
    font-family: $title;
    font-size: 20px;
    color: $blue-secondary;
}

.links-button {
    background-color: $blue-primary;
    width: 50px;
    height: 50px;
    margin: 30px;
    border: 3px solid rgb(3, 90, 138);
    border-radius: 50px;
    &:hover {
        box-shadow: 0px 0px 10px 2px rgba(92, 92, 92, 0.75);
    }
}

.icon-footer {
    width: 20px;
    margin: 7px 3px 3px 4px;
}

/* Segunda columna */

.footer-nav {
    width: 30%;
    margin: 20px;
    text-align: center;
    ul {
        list-style: none;
        li {
            height: 50px;
            align-content: center;
            cursor: pointer;
            a {
                font-family: $text;
                color: $white;
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

/* Tercera columna */

.map-container {
    color: $white;
}

.desarrollo-box {
    width: 100%;
}

.designed-by {
    background-color: $black;
    width: 100%;
    height: 50px;
    padding: 15px 0 15px 0;
    p {
        font-family: $text;
        font-size: 15px;
        color: grey;
        text-align: center;
        margin: 0;
        a {
            color: grey;
            text-decoration: none;
        }
    }
}
