@import "../common/mixins";
@import "../common/variables";


#contact {
    background-image: url(../../Images/works.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 900px;
    padding: 100px 0 100px 0;
    @include tablet {
        height: 1500px;
    }
}

.contact-title {
    font-family: $title;
    font-size: 60px;
    color: $black;
    margin-top: 0;
    text-align: center;
    align-items: center;
    margin: auto;
    @include phone {
        font-size: 30px;
    }
}

.box {
    display: flex;
    overflow: hidden;
    @include phone {
        width: 95%;
    }
    @include tablet {
        width: 95%;
    }
}

.contact-img {
    width: 850px;
    height: 650px;
    margin-top: 70px;
    @include phone {
        display: none;
    }
    @include tablet {
        display: none;
    }
}

.form-container {
    background-color: $black;
    width: 550px;
    height: 600px;
    position: relative;
    left: 12%;
    margin-top: 70px;
    padding: 20px 0 20px 0;
    border-top: 10px solid $green-primary;
    @include phone {
        left: 7%;
        width: 90%;
    }
    @include tablet {
        left: 5%;
        width: 90%;
    }
    h3 {
        width: 80%;
        font-family: $title;
        font-size: 20px;
        color: $white;
        text-align: center;
        margin: auto;
        margin-top: 30px;
        margin-bottom: 30px;
        @include phone {
            font-size: 20px;
            width: 100%;
            margin-left: 0;
            margin-right: 0;
        }
        @include tablet {
            width: 90%;
            font-size: 22px;
        }
    }
}

.wsp-box {
    text-align: center;
    @include phone {
        width: 100%;
    }
}

.wsp-button {
    background-color: $green-primary;
    width: 250px;
    height: 50px;
    text-decoration: none;
    text-align: center;
    outline: none;
    margin: auto;
    border: 3px solid #5c8b3c;
    border-radius: 10px;
    cursor: pointer;
    a {
        width: 250px;
        height: 50px;
    }
    .whatsapp-contact {
        width: 2rem;
        margin-top: 5px;
    }
    &:hover {
        box-shadow: 0px 0px 10px 2px rgba(92, 92, 92, 0.75);
    }
    &:focus {
        color: $green-primary;
        box-shadow: 0px 0px 10px 2px rgba(92, 92, 92, 0.75);
    }
}



#contact-form {
    width: 50%;
    margin: auto;
    @include phone {
        width: 85%;
        margin: auto;
    }
    @include tablet {
        width: 90%;
    }
}

.form-list {
    font-family: $text;
    color: $white;
    list-style: none;
    padding: 0;
    @include tablet {
        width: 80%;
        margin: auto;
    }
    li {
        margin-bottom: 20px;
        @include tablet {
            width: 40%;
            margin: auto;
            margin-top: 15px;
            margin-bottom: 15px;
        }
        label {
            font-family: $text;
            font-size: 17px;
            color: $white;
            text-align: left;
        }
        input {
            width: 15rem;
            height: 30px;
            font-family: $text;
            margin-top: 5px;
            border: 2px solid $black;
            border-radius: 5px;
            outline: none;
            &:focus {
                border: 2px solid $blue-primary;
            }
        }
        textarea {
            width: 15rem;
            height: 70px;
            font-family: $text;
            margin-top: 5px;
            border: 2px solid $black;
            border-radius: 5px;
            outline: none;
            &:focus {
                border: 2px solid $blue-primary;
            }
        }
    }
}

.form-button {
    background-color: $blue-primary;
    width: 150px;
    height: 50px;
    font-family: $title;
    font-size: 18px;
    font-weight: 600;
    color: white;
    line-height: 40px;
    border: 3px solid rgb(3, 90, 138);
    border-radius: 10px;
    text-decoration: none;
    outline: none;
    cursor: pointer;
    margin-left: 50px;
    &:hover {
        box-shadow: 0px 0px 10px 2px rgba(92, 92, 92, 0.75);
    }
    &:focus {
        color: $green-primary;
        box-shadow: 0px 0px 10px 2px rgba(92, 92, 92, 0.75);
    }
}
