<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="secureAppSettings" type="System.Configuration.NameValueSectionHandler" />
  </configSections>
  <runtime>
    <gcServer enabled="true"/>
  </runtime>
  <secureAppSettings>
    <add key="Company_Email" value="#COMPANY_MAIL#" />
    <add key="Company_Email_Password" value="#COMPANY_PASS#" />
  </secureAppSettings>
</configuration>