/* Colores */

$green-primary: #79B650;
$green-secondary: #99c77a;
$blue-primary: #0076B7;
$blue-secondary: #009cf2;
$black: #111111;
$white: #FFFFFF;

/* Fuentes */

$title: 'Montserrat', sans-serif;
$text: 'Open Sans', sans-serif;