@import "../common/mixins";
@import "../common/variables";

.card-square {
    background-color: $green-primary;
    width: 250px;
    height: 300px;
    box-shadow: 0px 0px 10px 0px rgba(17, 17, 17, 0.514);
    margin-bottom: 100px;

    @include desktop {
        width: 350px;
        height: 350px;
        &:hover {
            transition: all 0.5s ease-in-out;
            .work-card {
                margin: -1rem 0 0 1rem;
                transition: all 0.5s ease-in-out;
                transition-timing-function: ease-in-out;
            }
        }
    }
}

.work-card {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 350px;
    height: 350px;
    box-sizing: border-box;
    position: relative;
    margin: -0.75rem 0 0 0.75rem;
    box-shadow: 0px 0px 10px 0px rgba(17, 17, 17, 0.514);
    &:hover {
        overflow: hidden;
        .text-work-box {
            height: 30%;
            transition: height 1s ease-in;
            p {
                display: block;
                transition: height 1s ease-in;
            }
        }
    }
    @include phone {
        width: 250px;
        height: 300px;
    }
    @include tablet {
        width: 250px;
        height: 300px;
    }
}

.text-work-box {
    background-color: $black;
    height: 20%;
    padding: 2.5%;
    position: absolute;
    bottom: 0;
    color: $white;
    h3 {
        font-family: $title;
        font-size: 17px;
        margin: 0;
    }
    p {
        font-family: $text;
        display: none;
        margin-bottom: 20px;
    }
    @include phone {
        font-size: 15px;
        padding: 1rem;
    }
}

.ubication-icon {
    color: $white;
    font-size: 20px;
    margin-right: 10px;
}
