/* Colores */
/* Fuentes */
/* Colores */
/* Fuentes */
.technique {
  height: 220px;
  padding: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-left: 1px solid #bdbdbd;
}

.technique:hover .img-technique-box {
  width: 75px;
  height: 75px;
}

.technique:first-child {
  border-left: none;
}

@media (max-width: 767px) {
  .technique {
    width: 100%;
    height: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    border-left: none;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-bottom: 1px solid #bdbdbd;
    vertical-align: middle;
  }
  .technique:last-child {
    border-bottom: none;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .technique {
    height: 200px;
    padding: 15px;
  }
}

.technique-text {
  font-family: "Open Sans", sans-serif;
  font-size: 17px;
  color: #FFFFFF;
  text-align: center;
}

@media (max-width: 767px) {
  .technique-text {
    font-size: 13px;
    width: 80%;
    margin: 0;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .technique-text {
    font-size: 14px;
  }
}

.img-technique-box {
  width: 70px;
  height: 70px;
  margin: auto;
  margin-bottom: 50px;
}

@media (max-width: 767px) {
  .img-technique-box {
    width: 40px;
    height: 40px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .img-technique-box {
    width: 55px;
    height: 55px;
    margin-bottom: 30px;
  }
}

.icon-tech {
  width: 100%;
}

@media (max-width: 767px) {
  .icon-tech {
    padding-top: 20px;
  }
}

/* Colores */
/* Fuentes */
.card-square {
  background-color: #79B650;
  width: 250px;
  height: 300px;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(17, 17, 17, 0.514);
          box-shadow: 0px 0px 10px 0px rgba(17, 17, 17, 0.514);
  margin-bottom: 100px;
}

@media (min-width: 1025px) {
  .card-square {
    width: 350px;
    height: 350px;
  }
  .card-square:hover {
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  .card-square:hover .work-card {
    margin: -1rem 0 0 1rem;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-transition-timing-function: ease-in-out;
            transition-timing-function: ease-in-out;
  }
}

.work-card {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 350px;
  height: 350px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  margin: -0.75rem 0 0 0.75rem;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(17, 17, 17, 0.514);
          box-shadow: 0px 0px 10px 0px rgba(17, 17, 17, 0.514);
}

.work-card:hover {
  overflow: hidden;
}

.work-card:hover .text-work-box {
  height: 30%;
  -webkit-transition: height 1s ease-in;
  transition: height 1s ease-in;
}

.work-card:hover .text-work-box p {
  display: block;
  -webkit-transition: height 1s ease-in;
  transition: height 1s ease-in;
}

@media (max-width: 767px) {
  .work-card {
    width: 250px;
    height: 300px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .work-card {
    width: 250px;
    height: 300px;
  }
}

.text-work-box {
  background-color: #111111;
  height: 20%;
  padding: 2.5%;
  position: absolute;
  bottom: 0;
  color: #FFFFFF;
}

.text-work-box h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 17px;
  margin: 0;
}

.text-work-box p {
  font-family: "Open Sans", sans-serif;
  display: none;
  margin-bottom: 20px;
}

@media (max-width: 767px) {
  .text-work-box {
    font-size: 15px;
    padding: 1rem;
  }
}

.ubication-icon {
  color: #FFFFFF;
  font-size: 20px;
  margin-right: 10px;
}

/* Colores */
/* Fuentes */
.about-section {
  background-image: url(../../Images/about.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 1200px;
  padding: 120px 0 0 0;
}

@media (max-width: 767px) {
  .about-section {
    background-position: center;
    height: 700px;
    padding: 70px 0 70px 0;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .about-section {
    background-position: center;
    height: 650px;
    padding: 70px 0 250px 0;
  }
}

.titles-container {
  width: 80%;
  text-align: center;
  margin: auto;
  margin-bottom: 70px;
}

.title-about {
  width: 450px;
}

@media (max-width: 767px) {
  .title-about {
    width: 250px;
  }
}

.subtitle-about {
  font-family: "Montserrat", sans-serif;
  font-size: 26px;
  color: #0076B7;
  margin: 0;
}

@media (max-width: 767px) {
  .subtitle-about {
    font-size: 20px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .subtitle-about {
    font-size: 24px;
  }
}

.article-about {
  width: 80%;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 17px;
  font-weight: 600;
  color: #111111;
  line-height: 30px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

@media (max-width: 767px) {
  .article-about {
    font-size: 13px;
  }
}

/* Colores */
/* Fuentes */
#contact {
  background-image: url(../../Images/works.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 900px;
  padding: 100px 0 100px 0;
}

@media (min-width: 768px) and (max-width: 1024px) {
  #contact {
    height: 1500px;
  }
}

.contact-title {
  font-family: "Montserrat", sans-serif;
  font-size: 60px;
  color: #111111;
  margin-top: 0;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
}

@media (max-width: 767px) {
  .contact-title {
    font-size: 30px;
  }
}

.box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

@media (max-width: 767px) {
  .box {
    width: 95%;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .box {
    width: 95%;
  }
}

.contact-img {
  width: 850px;
  height: 650px;
  margin-top: 70px;
}

@media (max-width: 767px) {
  .contact-img {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .contact-img {
    display: none;
  }
}

.form-container {
  background-color: #111111;
  width: 550px;
  height: 600px;
  position: relative;
  left: 12%;
  margin-top: 70px;
  padding: 20px 0 20px 0;
  border-top: 10px solid #79B650;
}

@media (max-width: 767px) {
  .form-container {
    left: 7%;
    width: 90%;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .form-container {
    left: 5%;
    width: 90%;
  }
}

.form-container h3 {
  width: 80%;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  color: #FFFFFF;
  text-align: center;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

@media (max-width: 767px) {
  .form-container h3 {
    font-size: 20px;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .form-container h3 {
    width: 90%;
    font-size: 22px;
  }
}

.wsp-box {
  text-align: center;
}

@media (max-width: 767px) {
  .wsp-box {
    width: 100%;
  }
}

.wsp-button {
  background-color: #79B650;
  width: 250px;
  height: 50px;
  text-decoration: none;
  text-align: center;
  outline: none;
  margin: auto;
  border: 3px solid #5c8b3c;
  border-radius: 10px;
  cursor: pointer;
}

.wsp-button:hover {
  -webkit-box-shadow: 0px 0px 10px 2px rgba(92, 92, 92, 0.75);
          box-shadow: 0px 0px 10px 2px rgba(92, 92, 92, 0.75);
}

.wsp-button:focus {
  color: #79B650;
  -webkit-box-shadow: 0px 0px 10px 2px rgba(92, 92, 92, 0.75);
          box-shadow: 0px 0px 10px 2px rgba(92, 92, 92, 0.75);
}

.whatsapp-contact {
  width: 30px;
  margin-top: 5px;
}

#contact-form {
  width: 50%;
  margin: auto;
}

@media (max-width: 767px) {
  #contact-form {
    width: 85%;
    margin: auto;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  #contact-form {
    width: 90%;
  }
}

.form-list {
  font-family: "Open Sans", sans-serif;
  color: #FFFFFF;
  list-style: none;
  padding: 0;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .form-list {
    width: 80%;
    margin: auto;
  }
}

.form-list li {
  margin-bottom: 20px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .form-list li {
    width: 40%;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
  }
}

.form-list li label {
  font-family: "Open Sans", sans-serif;
  font-size: 17px;
  color: #FFFFFF;
  text-align: left;
}

.form-list li input {
  width: 15rem;
  height: 30px;
  font-family: "Open Sans", sans-serif;
  margin-top: 5px;
  border: 2px solid #111111;
  border-radius: 5px;
  outline: none;
}

.form-list li input:focus {
  border: 2px solid #0076B7;
}

.form-list li textarea {
  width: 15rem;
  height: 70px;
  font-family: "Open Sans", sans-serif;
  margin-top: 5px;
  border: 2px solid #111111;
  border-radius: 5px;
  outline: none;
}

.form-list li textarea:focus {
  border: 2px solid #0076B7;
}

.form-button {
  background-color: #0076B7;
  width: 150px;
  height: 50px;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: white;
  line-height: 40px;
  border: 3px solid #035a8a;
  border-radius: 10px;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  margin-left: 50px;
}

.form-button:hover {
  -webkit-box-shadow: 0px 0px 10px 2px rgba(92, 92, 92, 0.75);
          box-shadow: 0px 0px 10px 2px rgba(92, 92, 92, 0.75);
}

.form-button:focus {
  color: #79B650;
  -webkit-box-shadow: 0px 0px 10px 2px rgba(92, 92, 92, 0.75);
          box-shadow: 0px 0px 10px 2px rgba(92, 92, 92, 0.75);
}

/* Colores */
/* Fuentes */
#footer {
  background-color: #111111;
  width: 100%;
  height: 300px;
  color: #FFFFFF;
  padding-top: 50px;
  padding-bottom: 50px;
}

.footer-container {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
}

/* Primera columna */
#title-footer {
  width: 30%;
  margin: 20px;
  text-align: center;
}

.aniver-footer {
  width: 300px;
  height: 60px;
}

.subtitle-footer {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  color: #009cf2;
}

.links-button {
  background-color: #0076B7;
  width: 50px;
  height: 50px;
  margin: 30px;
  border: 3px solid #035a8a;
  border-radius: 50px;
}

.links-button:hover {
  -webkit-box-shadow: 0px 0px 10px 2px rgba(92, 92, 92, 0.75);
          box-shadow: 0px 0px 10px 2px rgba(92, 92, 92, 0.75);
}

.icon-footer {
  width: 20px;
  margin: 7px 3px 3px 4px;
}

/* Segunda columna */
.footer-nav {
  width: 30%;
  margin: 20px;
  text-align: center;
}

.footer-nav ul {
  list-style: none;
}

.footer-nav ul li {
  height: 50px;
  -ms-flex-line-pack: center;
      align-content: center;
  cursor: pointer;
}

.footer-nav ul li a {
  font-family: "Open Sans", sans-serif;
  color: #FFFFFF;
  text-decoration: none;
}

.footer-nav ul li a:hover {
  text-decoration: underline;
}

/* Tercera columna */
.map-container {
  color: #FFFFFF;
}

.desarrollo-box {
  width: 100%;
}

.designed-by {
  background-color: #111111;
  width: 100%;
  height: 50px;
  padding: 15px 0 15px 0;
}

.designed-by p {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  color: grey;
  text-align: center;
  margin: 0;
}

.designed-by p a {
  color: grey;
  text-decoration: none;
}

/* Colores */
/* Fuentes */
header {
  background-color: #111111;
  width: 98%;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 20px;
  padding: 0 50px 0 15px;
  position: fixed;
  z-index: 999;
}

.header-title {
  width: 60%;
}

.logo {
  width: 70px;
  height: 40px;
  padding: 10px 0 10px 0;
}

.aniver-title {
  width: 200px;
  height: 40px;
  padding: 10px 0 10px 10px;
}

@media (max-width: 767px) {
  .aniver-title {
    display: none;
  }
}

.menu-container {
  width: 35px;
  height: 135px;
  padding: 10px 0 10px 0;
}

.menu-container nav ul {
  display: none;
}

.menu-container:hover nav ul {
  display: block;
}

@media (max-width: 767px) {
  .menu-container {
    margin-right: 20px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .menu-container {
    margin-right: 15px;
  }
}

.menu-button {
  background-color: #111111;
  width: 35px;
  height: 35px;
  border: 1px solid #FFFFFF;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}

.menu-button:hover {
  border: 1.2px solid #FFFFFF;
  -webkit-box-shadow: 0px 0px 5px 3px #4e4e4e;
          box-shadow: 0px 0px 5px 3px #4e4e4e;
}

.faBars {
  color: #FFFFFF;
  font-size: 17px;
}

.menu-nav {
  background-color: #111111a1;
  width: 200px;
  position: relative;
  display: block;
  left: -150px;
}

.menu-nav ul {
  list-style: none;
  margin-top: 15px;
  position: relative;
  padding: 0;
}

.menu-nav ul li {
  width: 200px;
  height: 60px;
  line-height: 60px;
  cursor: pointer;
}

.menu-nav ul li:hover {
  background-color: #11111160;
}

.menu-nav ul li:active {
  background-color: #79B650;
}

.link-nav {
  color: #FFFFFF;
  font-size: 16px;
  text-decoration: none;
  padding: 22px 150px 22px 20px;
}

/* Colores */
/* Fuentes */
.hero {
  background-image: url(../../Images/hero.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  height: 650px;
}

@media (max-width: 767px) {
  .hero {
    height: 580px;
  }
}

.opacity {
  background-color: #1111119a;
  width: 100%;
  height: 650px;
}

@media (max-width: 767px) {
  .opacity {
    height: 580px;
  }
}

.hero-info {
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 150px;
}

@media (max-width: 767px) {
  .hero-info {
    padding-top: 100px;
  }
}

.hero-info h1 {
  width: 60%;
  font-family: "Montserrat", sans-serif;
  font-size: 70px;
  color: #FFFFFF;
  text-shadow: -3px 3px 8px #111111;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
}

@media (max-width: 767px) {
  .hero-info h1 {
    width: 90%;
    font-size: 40px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .hero-info h1 {
    width: 80%;
    font-size: 55px;
  }
}

.hero-button {
  background-color: #0076B7;
  width: 150px;
  height: 50px;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: white;
  line-height: 50px;
  border: 3px solid #035a8a;
  border-radius: 10px;
  text-decoration: none;
  outline: none;
  margin: auto;
  cursor: pointer;
  text-align: center;
}

.hero-button:hover {
  -webkit-box-shadow: 0px 0px 10px 2px rgba(17, 17, 17, 0.5);
          box-shadow: 0px 0px 10px 2px rgba(17, 17, 17, 0.5);
}

.hero-button:focus {
  color: #79B650;
  -webkit-box-shadow: 0px 0px 10px 2px rgba(17, 17, 17, 0.5);
          box-shadow: 0px 0px 10px 2px rgba(17, 17, 17, 0.5);
}

.arrow-button {
  width: 50px;
  height: 60px;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  margin: auto;
  margin-top: 0;
}

.hero-arrow {
  font-size: 65px;
  color: #FFFFFF;
  text-shadow: -3px 3px 8px #111111;
  position: relative;
}

.hero-arrow:hover {
  -webkit-animation: mymove 2s infinite;
          animation: mymove 2s infinite;
}

@-webkit-keyframes mymove {
  from {
    top: 0px;
  }
  to {
    top: 70px;
  }
}

@keyframes mymove {
  from {
    top: 0px;
  }
  to {
    top: 70px;
  }
}

/* Colores */
/* Fuentes */
.works-section {
  background-image: url(../../Images/works.jpg);
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 1200px;
}

@media (max-width: 767px) {
  .works-section {
    height: 2000px;
    margin-top: 650px;
    padding-top: 100px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .works-section {
    height: 1200px;
    padding-top: 100px;
  }
}

.works-title {
  width: 60%;
  color: #111111;
  text-align: center;
  margin: auto;
}

.works-title h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 60px;
  margin: 0;
}

.works-title p {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  margin: 20px 0 20px 0;
}

@media (max-width: 767px) {
  .works-title {
    width: 80%;
    font-size: 30px;
  }
}

.works-container {
  background-position: center;
  background-size: cover;
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: auto;
  margin-top: 100px;
}

@media (max-width: 767px) {
  .works-container {
    width: 80%;
    margin-top: 50px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .works-container {
    width: 70%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

/* Colores */
/* Fuentes */
.services {
  background-color: #111111;
  width: 80%;
  height: 400px;
  padding: 70px 0 60px 0;
  margin: auto;
  position: absolute;
  left: 10%;
  border-top: 10px solid #79B650;
}

@media (max-width: 767px) {
  .services {
    width: 100%;
    height: 600px;
    left: 0;
    margin-top: 0;
    padding: 70px 0 0 0;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .services {
    width: 90%;
    height: 400px;
    left: 5%;
    margin-top: -250px;
    padding: 50px 0 20px 0;
  }
}

.title-services {
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 60px;
  font-weight: 600;
  color: #FFFFFF;
  text-shadow: -3px 3px 8px #111111;
  text-align: center;
  margin: 0;
}

@media (max-width: 767px) {
  .title-services {
    font-size: 30px;
  }
}

.services-techniques {
  width: 95%;
  display: -ms-inline-grid;
  display: inline-grid;
  -ms-grid-columns: 20% 20% 20% 20% 20%;
      grid-template-columns: 20% 20% 20% 20% 20%;
  padding-top: 20px;
  margin: 2.5%;
}

@media (max-width: 767px) {
  .services-techniques {
    width: 90%;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    -ms-grid-rows: 100px 100px 100px 100px 100px;
        grid-template-rows: 100px 100px 100px 100px 100px;
    padding-top: 0;
    margin: 5%;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .services-techniques {
    margin: 3%;
  }
}
/*# sourceMappingURL=all.css.map */